* {
    margin: 0;
    padding: 0;
    --brand-colors-dark-blue: #1F2937;
    --brand-colors-bright-blue: #3882F6;
    --brand-colors-grey: #E5E7EB;
    --brand-colors-cream: #F9FAF8;

}


/* Branding-Backgrounds */
.header, .hero, .footer {
    background-color: var(--brand-colors-dark-blue, navy);
}

.cta, button {
    background-color: var(--brand-colors-bright-blue, blue);
}

/* Branding-Font Colors*/
.header-logo, h1, .cta, .footer, button {
    color: var(--brand-colors-cream, white);
}

.hero-text, a {
    color: var(--brand-colors-grey, gray);
}

.info-title, .quote, .author {
    color: var(--brand-colors-dark-blue, navy);
}

/*Branding-cta btn border*/
.cta-btn {
    border: 1px solid var(--brand-colors-cream, white); 
}


html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero, .hero ~ div, .header {
    padding: 0 250px;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
}

.header-logo, .header-links {
    padding-top: 20px;
}

.header-logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text, .header-links, .cta-title, .info {
    font-size: 18px;
}

.hero-content {
    padding-right: 75px;
}

.hero-text {
    padding-bottom: 10px;
}
.container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info {
    max-width: 150px;
    padding-bottom: 100px;
}

.text {
    text-align: center;
    padding-top: 8px;
}

.container-two {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: var(--brand-colors-grey, gray);
}

div.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px 100px;
}

.author {
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    text-align: right;
}

.container-three {
    display: flex;
    align-items: center;
    flex: 1;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-radius: 5px;
    margin: 100px 0;
    padding: 40px 100px;
}

.cta-title {
    font-weight: bold;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}


a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 5px 30px;
}


/* Hero placeholder */
.hero-img {
    flex-shrink: 0;
    height: 250px;
    width: 450px;
    background-color: var(--brand-colors-grey, gray);
}

/* info placeholder */
.img {
    height: 150px;
    width: 150px;
    border: 3px solid var(--brand-colors-bright-blue, navy);
    border-radius: 10px;
}