* {
    margin: 0;
    padding: 0;
    --brand-colors-dark-blue: #1F2937;
    --brand-colors-bright-blue: #3882F6;
    --brand-colors-grey: #E5E7EB;
    --brand-colors-cream: #F9FAF8;
}


/* Branding-Backgrounds */
.header, .hero, .footer {
    background-color: var(--brand-colors-dark-blue, navy);
}

.cta, button {
    background-color: var(--brand-colors-bright-blue, blue);
}

/* Branding-Fonts*/
.header-logo, h1, .cta-title, .footer, button {
    color: var(--brand-colors-cream, white);
}

.hero-text, a, .cta-text {
    color: var(--brand-colors-grey, gray);
}

.info-title, .quote, .author {
    color: var(--brand-colors-dark-blue, navy);
}

/*Branding-cta btn border*/
.cta-btn {
    border: 1px solid var(--brand-colors-cream, white); 
}


html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}


.content {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}


.info {
    max-width: 100px;
}

.container-two {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: var(--brand-colors-grey, gray);
}


.container-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

button {
    border: 0;
    border-radius: 5px;
}


/* Hero placeholder */
.hero-img {
    height: 150px;
    width: 300px;
    background-color: var(--brand-colors-grey, gray);
}

/* info placeholder */
.img {
    height: 100px;
    width: 100px;
    border: 3px solid var(--brand-colors-bright-blue, navy);
    border-radius: 10px;
}